@import url("style.css");
@import url("platforms/news-phone.css");
@import url("platforms/news-tablet.css");



iframe{
    width: 100vw;
    height: 40vw;
}

.comments{
    border-left: 10px solid rgb(200,203,207); 
    width: inherit;
    padding: 15px;
    padding-top: 0px;
    margin-left: 40px;
    margin-top: 40px;
    background-color: #d9dbdf;
}

.avatar{
    width: 3vw;
    grid-area: img;
}

.user-text{
    width: 50%;
    margin-top: 10px;
}

@media(min-width: 1024px) and (max-width: 1920px)
{
    .news{
        font-size: 1em;
    }
    .user-comment{
        grid-template-columns: 3vw 60%;
    }
    
}



