@import url("platforms/style-tablet-phone.css");




.menu{
    margin-bottom: 55px;
}

.top-of-the-parallax{
    width: 100%;
    background-color: none;
    bottom: 0; top: 200px; left: 0; 
}

.color-white{
    color: white;
}

.home{
    color:rgb(44, 0, 27);
}

body{
    background-color: rgb(238, 238, 238);
}

::selection {
    background-color: rgb(0, 10, 29);
    color: rgb(255, 255, 255);/* Safari, Chrome, Opera */
}

.fool{
    width:100vw;
}

.footer{
    height: 3em;
}

.main{
    background-color: white;
    padding-top:4em;
    min-height: 100vh;
}

img{
    width: 100%;
}

.parallax-window {
    margin-top: 56px;
    min-height: 40em;
    background: transparent;
}

.text{
    text-align: justify ;
}

.dark-theme{
    color: white;
}

.hello{
    margin-bottom: 3em;
}

.news{
    padding-bottom: 100px;
}

.image-block-card{
    min-height: 55vh;
}

h1{
    margin-bottom: 20px;
}

.jumbotron{
    border-radius: 0px;
}